.splitpanel-vertical {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.splitpanel-vertical > *:first-child {
    max-width: calc(100% - 9px);
}

.splitpanel-vertical > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-vertical > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}

.splitpanel-horizontal {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.splitpanel-horizontal > *:first-child {
    max-height: calc(100% - 9px);
}

.splitpanel-horizontal > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-horizontal > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}


.splitter-vertical {
  flex: 0 0 auto;
  width: 9px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAhCAQAAABOpSL+AAAAIklEQVR4AWMwbb/PdR+JZDD9f1/oPhI5sgVGBSruc9xHIgGdSQqqQJGkRgAAAABJRU5ErkJggg==') center center no-repeat #cecece;
  cursor: col-resize;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 9px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAICAQAAADdTl4aAAAAIElEQVQoz2MwrTD9TxFsZ7jPcV+IIsjFQAUw6hFqegQA+xzRHT2p7pEAAAAASUVORK5CYII=') center center no-repeat #cecece;
  cursor: row-resize;
}

.trix-control {
  overflow-y: auto;
}

trix-toolbar .trix-button-group {
  margin-bottom: 3px;
}

.form-inline .form-group {
  margin-right:6px;
}

.form-inline .checkbox, .form-inline .radio {
  margin-right:6px;
}

.form-inline .form-group .form-control, .navbar-form .form-group .form-control {
  margin-left:6px;
}

.form-horizontal .checkbox, .form-horizontal .radio {
  padding-left: 25px;
}

.form-inline .form-group trix-editor.form-control {
  margin-left: 0px;
  width: 100%;
}

.form-inline .form-group, .form-inline .control-label {
  vertical-align: top;
}

.bootstrap-touchspin .input-group-btn-vertical> .input-sm {
  padding: 7px 10px;
  height: 6px;
}

.bootstrap-touchspin .input-group-btn-vertical> .input-lg {
  height: 24px;
}

.kv-spinner-btn-none .input-group-btn-vertical {
  display: none;
}

.kv-spinner-btn-none .form-control {
  border-radius: 4px !important;
}

.kv-spinner-btn-vertical .form-control {
  border-radius: 4px 0px 0px 4px !important;
}

.kv-radiogroup .radio {
  margin-top: -5px;
}

.kv-radiogroup-inline label {
  margin-right: 10px;
}

.kv-radio-checkbox {
  padding-left: 7px;
}

.kv-window {
  border-radius: 0px;
}

.kv-window .modal-header {
  height: 40px;
  padding: 10px 15px 5px 15px;
}

.kv-window .modal-header .modal-title {
  white-space: nowrap;
}

ul.dropdown-menu li a {
  cursor: pointer;
}

.col-nopadding {
   padding-left: 0;
   padding-right: 0;
}

.kv-preview-thumb .btn, .kv-zoom-actions .btn, .file-zoom-dialog .floating-buttons .btn {
   padding: 5px 8px;
}
