.trix-control {
    overflow-y: auto;
}

trix-toolbar .trix-button-group {
    margin-bottom: 3px !important;
}

@media (min-width: 576px) {

    .form-inline .form-control.trix-control {
        display: block;
        width: 100%;
    }

}

[data-bs-theme="dark"] trix-toolbar .trix-button {
    background: #fff !important;
}
