.text-justify  { text-align: justify !important; }
.text-left   { text-align: left !important; }
.text-start   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-end  { text-align: right !important; }
.text-center { text-align: center !important; }
.text-nowrap   { white-space: nowrap !important; }

.text-danger {
    color: #dc3545 !important;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}

.splitpanel-vertical {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.splitpanel-vertical > *:first-child {
    max-width: calc(100% - 9px);
}

.splitpanel-vertical > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-vertical > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}

.splitpanel-horizontal {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.splitpanel-horizontal > *:first-child {
    max-height: calc(100% - 9px);
}

.splitpanel-horizontal > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-horizontal > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}

.splitter-vertical {
  flex: 0 0 auto;
  width: 9px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAhCAQAAABOpSL+AAAAIklEQVR4AWMwbb/PdR+JZDD9f1/oPhI5sgVGBSruc9xHIgGdSQqqQJGkRgAAAABJRU5ErkJggg==') center center no-repeat #cecece;
  cursor: col-resize;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 9px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAICAQAAADdTl4aAAAAIElEQVQoz2MwrTD9TxFsZ7jPcV+IIsjFQAUw6hFqegQA+xzRHT2p7pEAAAAASUVORK5CYII=') center center no-repeat #cecece;
  cursor: row-resize;
}

.trix-control {
  overflow-y: auto;
}

trix-toolbar .trix-button-group {
  margin-bottom: 3px;
}

.tabulator-row .tabulator-cell.tabulator-editing input, .tabulator-row .tabulator-cell.tabulator-editing select {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tabulator-row .tabulator-cell.tabulator-editing input:focus, .tabulator-row .tabulator-cell.tabulator-editing select:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.tabulator-row .tabulator-cell.tabulator-editing {
    border-right: 1px solid #1d68cd !important;
    padding: 2px !important;
}
.tabulator.table-bordered>:not(caption)>*>* {
    border-bottom: 1px solid #dee2e6;
}

.input-group.date.is-invalid~.invalid-feedback {
    display: block;
}

.input-group.date {
    padding-left: 0px;
    padding-right: 0px;
}

.bootstrap-select .dropdown-toggle.btn-default:focus {
    outline: none !important;
}

.bootstrap-select .dropdown-toggle::after {
    margin-left: -1em !important;
}

.select-parent.text-danger>.invalid-feedback {
    display: block;
}
.select-parent.text-danger>div.form-control>button.form-control {
    border-color: #dc3545;
}

.form-inline .bootstrap-select button.form-control {
    min-width: 200px;
}

label:not(.form-check-label).required-label::after {
    content: " *";
    color: #dc3545;
}
label.form-check-label.required-label>span::after {
    content: " *";
    color: #dc3545;
}

.kv-spinner-btn-none .input-group-btn-vertical {
  display: none;
}

.kv-spinner-btn-none .form-control {
  border-radius: 4px !important;
}

.kv-spinner > span {
    display: inline-block;
    width: 100%;
}

.input-group.kv-spinner {
    padding-left: 0px;
    padding-right: 0px;
}

.kv-spinner.is-invalid~.invalid-feedback {
    display: block;
}

.kv-radiogroup-inline label.form-label {
  vertical-align: top;
  margin-right: .75rem;
  margin-bottom: 0px;
}
.row.kv-radiogroup-inline label.form-label {
  margin-right: 0px;
}

.row.kv-radiogroup-inline .kv-radiogroup-container, .row.kv-radiogroup .kv-radiogroup-container {
  margin-left: -15px;
}

.kv-radiogroup-inline .kv-radiogroup-container {
    display: inline-flex;
}

.kv-radiogroup-container.is-invalid~.invalid-feedback {
    display: block;
}

.form-check {
    padding-left: 0.5rem;
}

.form-check.form-switch {
    padding-left: 2.5rem;
}

.form-check-input.form-control-sm, .form-check-input.form-control-lg {
    height: inherit;
}

.form-check-inline {
    margin-left: 3px;
}

.form-check-inline.form-check {
    padding-left: 0px;
}

.form-horizontal.container-fluid {
    width: inherit;
}

.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.form-inline .form-check {
  width: 100%;
}

@media (min-width: 576px) {
  .form-inline label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .form-inline .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-plaintext {
    display: inline-block;
  }
  .form-inline .input-group,
  .form-inline .custom-select {
    width: auto;
  }
  .form-inline .form-check {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    padding-left: 0;
  }
  .form-inline .form-check-input {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-left: 0;
  }
  .form-inline .custom-control {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .form-inline .custom-control-label {
    margin-bottom: 0;
  }
}

.form-inline .form-group {
    margin-right: 6px;
}

.form-inline .form-group .form-label {
    margin-right: 6px;
}

.form-inline .form-check.form-group {
    margin-left: 6px;
}

.form-inline .mb-3 {
    margin-bottom: 0 !important;
}

.kv-form-condensed .form-group {
    margin-bottom: 0.5rem !important;
}

.kv-window.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 0px;
}

.kv-window .modal-header {
  height: 40px;
  padding: 5px 15px 5px 15px;
  align-items: center;
}

.kv-window .modal-header button.close {
  width: 24px;
  height: 24px;
  margin: 0px;
  padding: 0px;
}

.kv-window .modal-header .modal-title {
  white-space: nowrap;
}

.kv-window .modal-header .window-icon {
    margin-right: 6px;
}

.kv-window .kv-window-icons-container {
    display: flex;
}

.kv-preview-thumb .btn, .kv-zoom-actions .btn, .file-zoom-dialog .floating-buttons .btn {
   padding: 5px 8px;
}

.file-drop-zone.clickable:hover {
    border: 1px dashed #999;
}

.file-drop-zone.clickable:focus {
    border: 1px solid #5acde2;
}

.nav.tabs-top {
    flex-wrap: nowrap;
}

ul.tabs-top {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}

ul.tabs-top > li {
    float:none;
    flex-shrink: 0;
}

.kv-tab-close {
    margin-left: 10px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.kv-tab-close:hover, .kv-tab-close:focus {
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.kv-tab-panel .nav-tabs .nav-link:focus, .kv-tab-panel .nav-tabs .nav-link:hover {
    isolation: inherit;
}

select.form-select, .tabulator-row .tabulator-cell.tabulator-editing select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent none no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAKCAYAAABblxXYAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wUKFyIn4IjqJgAAAENJREFUKM/l0LERACEQQlGsiTa2px1aokGugNNAx8wfMy8AeLoBALYjaTqoKkga2+gKPgF/2Q7JkEx359oftu+C7/UBCUIcVQz0PvcAAAAASUVORK5CYII=');
    background-position: right center;
    cursor: pointer;
}

.form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"], .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"] {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAKCAYAAABblxXYAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wUKFyIn4IjqJgAAAENJREFUKM/l0LERACEQQlGsiTa2px1aokGugNNAx8wfMy8AeLoBALYjaTqoKkga2+gKPgF/2Q7JkEx359oftu+C7/UBCUIcVQz0PvcAAAAASUVORK5CYII='),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-position: right center,center right 2.25rem;
    background-size: 21px 10px,calc(.75em + .375rem) calc(.75em + .375rem);
}

.abc-checkbox input[type="checkbox"]:checked+label::after,
.abc-checkbox input[type="radio"]:checked+label::after {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
    content: "\2714";
    font-weight: bold;
    font-size: 15px;
    margin-top: -3px;
}

.abc-checkbox label::before {
    top: 0px;
}
.abc-checkbox label::after {
    top: 0px;
}

.abc-radio label::before {
    top: 0px;
}

.abc-radio label::after {
    top: 3px;
}

.abc-checkbox.form-check-inline label::before {
    top: 2px;
}

.abc-checkbox.form-check-inline label::after {
    top: 2px;
}

.abc-radio.form-check-inline label::before {
    top: 2px;
}

.abc-radio.form-check-inline label::after {
    top: 5px;
}

.abc-checkbox label.col-form-label-lg::before {
    top: 10px;
}
.abc-checkbox label.col-form-label-lg::after {
    top: 10px;
}

.abc-radio label.col-form-label-lg::before {
    top: 10px;
}

.abc-radio label.col-form-label-lg::after {
    top: 13px;
}

.abc-checkbox.form-check-inline label.col-form-label-lg::before {
    top: 15px;
}

.abc-checkbox.form-check-inline label.col-form-label-lg::after {
    top: 15px;
}

.abc-radio.form-check-inline label.col-form-label-lg::before {
    top: 15px;
}

.abc-radio.form-check-inline label.col-form-label-lg::after {
    top: 18px;
}

.abc-checkbox-primary input[type="checkbox"]:checked + label::before,
.abc-checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.abc-checkbox-info input[type="checkbox"]:checked + label::before,
.abc-checkbox-info input[type="radio"]:checked + label::before {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.abc-checkbox-info input[type="checkbox"]:checked + label::after,
.abc-checkbox-info input[type="radio"]:checked + label::after {
  color: #000;
}

.abc-checkbox-warning input[type="checkbox"]:checked + label::after,
.abc-checkbox-warning input[type="radio"]:checked + label::after {
  color: #000;
}

.abc-checkbox-success input[type="checkbox"]:checked + label::before,
.abc-checkbox-success input[type="radio"]:checked + label::before {
  background-color: #198754;
  border-color: #198754;
}

.abc-checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.abc-checkbox-info input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.abc-checkbox-info input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #000;
}

.abc-checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #000;
}

.abc-checkbox-success input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #198754;
  border-color: #198754;
}

.abc-radio-primary input[type="radio"] + label::after {
  background-color: #0d6efd;
}
.abc-radio-primary input[type="radio"]:checked + label::before {
  border-color: #0d6efd;
}
.abc-radio-primary input[type="radio"]:checked + label::after {
  background-color: #0d6efd;
}

.abc-radio-info input[type="radio"] + label::after {
  background-color: #0dcaf0;
}
.abc-radio-info input[type="radio"]:checked + label::before {
  border-color: #0dcaf0;
}
.abc-radio-info input[type="radio"]:checked + label::after {
  background-color: #0dcaf0;
}

.abc-radio-success input[type="radio"] + label::after {
  background-color: #198754;
}
.abc-radio-success input[type="radio"]:checked + label::before {
  border-color: #198754;
}
.abc-radio-success input[type="radio"]:checked + label::after {
  background-color: #198754;
}

/*!
 * bootstrap-vertical-tabs - v1.2.2
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2016-12-02
 * Copyright (c) 2016 İsmail Demirbilek
 * License: MIT
 */
.nav-tabs.tabs-left, .nav-tabs.tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.nav-tabs.tabs-left {
  border-right: 1px solid #dee2e6;
}
.nav-tabs.tabs-right {
  border-left: 1px solid #dee2e6;
}
.nav-tabs.tabs-left>li.nav-item, .nav-tabs.tabs-right>li.nav-item {
  float: none;
  margin-bottom: 2px;
}
.nav-tabs.tabs-left>li.nav-item {
  margin-right: -1px;
}
.nav-tabs.tabs-right>li.nav-item {
  margin-left: -1px;
}
.nav-tabs.tabs-left>li.nav-item>a.nav-link.active,
.nav-tabs.tabs-left>li.nav-item>a.nav-link.active:hover,
.nav-tabs.tabs-left>li.nav-item>a.nav-link.active:focus {
  border-bottom-color: #dee2e6;
  border-right-color: transparent;
}
.nav-tabs.tabs-right>li.nav-item>a.nav-link.active,
.nav-tabs.tabs-right>li.nav-item>a.nav-link.active:hover,
.nav-tabs.tabs-right>li.nav-item>a.nav-link.active:focus {
  border-bottom: 1px solid #dee2e6;
  border-left-color: transparent;
}
.nav-tabs.tabs-left>li.nav-item>a.nav-link {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.nav-tabs.tabs-right>li.nav-item>a.nav-link {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

.kv-focus {
    border-radius: 0.25rem;
    outline-width: 0px;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.kv-focus .kv-fileinput-caption {
    border-color: #80bdff;
}

.modal-dialog .modal-footer {
    flex-wrap: wrap;
}

.modal-dialog .modal-footer>button {
    margin-top: 5px;
}

.kv_fieldset {
    border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.kv_fieldset legend {
    border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: bold;
	padding: 3px 10px 3px 10px;
	width: auto;
	float: inherit;
}

form fieldset.kv_fieldset {
    padding-top: 5px;
    margin-bottom: 8px;
}

form[class~="form-horizontal"] fieldset.kv_fieldset {
  padding-left: 1.1rem;
  padding-right: 2rem;
  margin-right: -15px;
  margin-left: -15px;
}

form[class~="form-horizontal"] div.form-group {
    align-items: center;
}

ul.typeahead > li.active > a {
    text-decoration: none;
    background-color: #f8f9fa;
}

#toast-container .toast {
    background-color: #030303;
    max-width: inherit;
}

#toast-container .toast-success {
  background-color: #51A351;
}

#toast-container .toast-error {
  background-color: #BD362F;
}

#toast-container .toast-info {
  background-color: #2F96B4;
}

#toast-container .toast-warning {
  background-color: #F89406;
}

#toast-container .toast-progress {
  background-color: #000000;
}

ons-button.kv-button-with-text > ons-icon {
    margin-right: 5px;
}

ons-toolbar-button.kv-button-with-text > ons-icon {
    margin-right: 5px;
}

.kv-ons-form-group {
    margin-bottom: 0.5rem;
}

.kv-ons-form-group .form-label {
    font-size: 12px;
}

.page--material .kv-ons-form-group .form-label {
    color: #3d5afe;
}

.kv-ons-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.kv-ons-form-group .kv-ons-form-control {
    width: 100%;
}

.kv-ons-form-group ons-input.kv-ons-form-control[float="float"][modifier~="material"] {
    margin-top: 16px;
}

label.required-label + ons-input > span.text-input__label::after {
    content: " *";
    color: #dc3545;
}

.kv-ons-checkbox {
    display: flex;
    align-items: center;
}

.kv-ons-checkbox label {
    margin-left: 5px;
}
