.text-justify {
    text-align: justify !important;
}

.text-left {
    text-align: left !important;
}

.text-start {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-end {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-danger {
    color: var(--bs-danger, #dc3545) !important;
}

.kv-mb-3 {
    margin-bottom: 1rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}

.splitpanel-vertical {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.splitpanel-vertical > *:first-child {
    max-width: calc(100% - 9px);
}

.splitpanel-vertical > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-vertical > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}

.splitpanel-horizontal {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.splitpanel-horizontal > *:first-child {
    max-height: calc(100% - 9px);
}

.splitpanel-horizontal > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-horizontal > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}

.splitter-vertical {
    flex: 0 0 auto;
    width: 9px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAhCAQAAABOpSL+AAAAIklEQVR4AWMwbb/PdR+JZDD9f1/oPhI5sgVGBSruc9xHIgGdSQqqQJGkRgAAAABJRU5ErkJggg==') center center no-repeat #cecece;
    cursor: col-resize;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 9px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAICAQAAADdTl4aAAAAIElEQVQoz2MwrTD9TxFsZ7jPcV+IIsjFQAUw6hFqegQA+xzRHT2p7pEAAAAASUVORK5CYII=') center center no-repeat #cecece;
    cursor: row-resize;
}

.trix-control {
    overflow-y: auto;
}

trix-toolbar .trix-button-group {
    margin-bottom: 3px !important;
}

.tabulator-row .tabulator-cell.tabulator-editing input, .tabulator-row .tabulator-cell.tabulator-editing select {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tabulator-row .tabulator-cell.tabulator-editing input:focus, .tabulator-row .tabulator-cell.tabulator-editing select:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.tabulator-row .tabulator-cell.tabulator-editing {
    border-right: 1px solid #1d68cd !important;
    padding: 6px !important;
}

.tabulator.table-bordered > .tabulator-tableHolder > * > *, .tabulator.table-bordered > .tabulator-tableholder > * > * {
    border-bottom: 1px solid #dee2e6;
}

.tabulator .tabulator-footer {
    background-color: inherit;
}

.tabulator.table-sm > :not(caption) > * > * {
    padding: 0;
}

.input-group.date.is-invalid ~ .invalid-feedback {
    display: block;
}

.input-group.date {
    padding-left: 0px;
    padding-right: 0px;
}

.bootstrap-select .dropdown-toggle.btn-default:focus {
    outline: none !important;
}

.bootstrap-select .dropdown-toggle::after {
    margin-left: -1em !important;
}

.select-parent.text-danger > .invalid-feedback {
    display: block;
}

.select-parent.text-danger > div.form-control > button.form-control {
    border-color: var(--bs-danger, #dc3545);
}

.form-inline .bootstrap-select button.form-control {
    min-width: 200px;
}

label:not(.form-check-label).required-label::after {
    content: " *";
    color: var(--bs-danger, #dc3545);
}

label.form-check-label.required-label > span:last-child::after {
    content: " *";
    color: var(--bs-danger, #dc3545);
}

.kv-spinner-btn-none .input-group-btn-vertical {
    display: none;
}

.kv-spinner-btn-none .form-control {
    border-radius: 4px !important;
}

.kv-spinner > span {
    display: inline-block;
    width: 100%;
}

.input-group.kv-spinner {
    padding-left: 0px;
    padding-right: 0px;
}

.kv-spinner.is-invalid ~ .invalid-feedback {
    display: block;
}

.kv-radiogroup-inline label.form-label {
    vertical-align: top;
    margin-right: .75rem;
    margin-bottom: 0px;
}

.row.kv-radiogroup-inline label.form-label {
    margin-right: 0px;
}

.row.kv-radiogroup-inline .kv-radiogroup-container, .row.kv-radiogroup .kv-radiogroup-container {
    margin-left: -15px;
}

.kv-radiogroup-inline .kv-radiogroup-container {
    display: inline-flex;
}

.kv-radiogroup-container.is-invalid ~ .invalid-feedback {
    display: block;
}

.form-check-input.form-control-sm, .form-check-input.form-control-lg {
    height: inherit;
}

.form-check-inline {
    margin-left: 3px;
}

.form-horizontal .row .form-check {
    padding-left: 2.2rem;
}

.form-horizontal .row .form-check.form-switch {
    padding-left: 3.2rem;
}

.form-horizontal.container-fluid {
    width: inherit;
}

.kv-control-horiz .invalid-feedback {
    width: fit-content;
}

.kv-control-horiz.form-switch {
    padding-left: 0;
}

.kv-control-horiz.form-switch .form-check-input {
    margin-left: 0;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.form-inline .form-check {
    width: 100%;
}

@media (min-width: 576px) {
    .form-inline .form-group label {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .form-inline .form-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    .form-inline .form-control, .form-inline .form-select {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-inline .form-control.trix-control {
        display: block;
        width: 100%;
    }

    .form-inline .form-control-plaintext {
        display: inline-block;
    }

    .form-inline .input-group,
    .form-inline .custom-select {
        width: auto;
    }

    .form-inline .form-check {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: auto;
        padding-left: 0;
    }

    .form-inline .form-check-input {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-top: 0;
        margin-right: 0.25rem;
        margin-left: 0;
    }

    .form-inline .custom-control {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .form-inline .custom-control-label {
        margin-bottom: 0;
    }
}

.form-inline .form-group {
    margin-right: 6px;
}

.form-inline .form-group .form-label {
    margin-right: 6px;
}

.form-inline .mb-3 {
    margin-bottom: 0 !important;
}

.form-inline .form-floating {
    margin-right: 6px;
}

.kv-form-condensed .form-group {
    margin-bottom: 0.5rem !important;
}

.kv-window.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 0px;
    width: inherit;
    height: inherit;
}

.kv-window .modal-header {
    height: 40px;
    padding: 5px 15px 5px 15px;
    align-items: center;
}

.kv-window .modal-header button.close {
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
}

.kv-window .modal-header .modal-title {
    white-space: nowrap;
}

.kv-window .modal-header .window-icon {
    margin-right: 6px;
}

.kv-window .kv-window-icons-container {
    display: flex;
}

.kv-window .kv-window-icons-container button.kv-window-button {
    background: transparent;
    line-height: 1rem;
    font-weight: bold;
}

.kv-preview-thumb .btn, .kv-zoom-actions .btn, .file-zoom-dialog .floating-buttons .btn {
    padding: 5px 8px;
}

.file-drop-zone.clickable:hover {
    border: 1px dashed #999;
}

.file-drop-zone.clickable:focus {
    border: 1px solid #5acde2;
}

.nav.tabs-top {
    flex-wrap: nowrap;
}

ul.tabs-top {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}

ul.tabs-top > li {
    float: none;
    flex-shrink: 0;
}

.kv-tab-close {
    margin-left: 10px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.kv-tab-close:hover, .kv-tab-close:focus {
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.kv-tab-panel .nav-tabs .nav-link:focus, .kv-tab-panel .nav-tabs .nav-link:hover {
    isolation: inherit;
}

select.form-select, .tabulator-row .tabulator-cell.tabulator-editing select {
    cursor: pointer;
}

.tabulator-row .tabulator-cell.tabulator-editing select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent none no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-position: right .75rem center;
    background-size: 16px 12px;
}

.is-invalid .bootstrap-select button.dropdown-toggle {
    border: solid 1px var(--bs-danger, #dc3545);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-position: center right 2.25rem;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-repeat: no-repeat;
}

select.form-select:invalid {
    color: gray;
}

.kv-check-primary {
    accent-color: var(--bs-primary, #0d6efd);
}

.kv-check-primary:checked, .kv-check-primary[type="checkbox"]:indeterminate {
    background-color: var(--bs-primary, #0d6efd) !important;
    border-color: var(--bs-primary, #0d6efd) !important;
}

.kv-check-secondary {
    accent-color: var(--bs-secondary, #6c757d);
}

.kv-check-secondary:checked, .kv-check-secondary[type="checkbox"]:indeterminate {
    background-color: var(--bs-secondary, #6c757d) !important;
    border-color: var(--bs-secondary, #6c757d) !important;
}

.kv-check-success {
    accent-color: var(--bs-success, #198754);
}

.kv-check-success:checked, .kv-check-success[type="checkbox"]:indeterminate {
    background-color: var(--bs-success, #198754) !important;
    border-color: var(--bs-success, #198754) !important;
}

.kv-check-danger {
    accent-color: var(--bs-danger, #dc3545);
}

.kv-check-danger:checked, .kv-check-danger[type="checkbox"]:indeterminate {
    background-color: var(--bs-danger, #dc3545) !important;
    border-color: var(--bs-danger, #dc3545) !important;
}

.kv-check-warning {
    accent-color: var(--bs-warning, #ffc107);
}

.kv-check-warning:checked, .kv-check-warning[type="checkbox"]:indeterminate {
    background-color: var(--bs-warning, #ffc107) !important;
    border-color: var(--bs-warning, #ffc107) !important;
}

.kv-check-info {
    accent-color: var(--bs-info, #0dcaf0);
}

.kv-check-info:checked, .kv-check-info[type="checkbox"]:indeterminate {
    background-color: var(--bs-info, #0dcaf0) !important;
    border-color: var(--bs-info, #0dcaf0) !important;
}

.kv-check-light {
    accent-color: var(--bs-light, #f8f9fa);
}

.kv-check-light:checked, .kv-check-light[type="checkbox"]:indeterminate {
    background-color: var(--bs-light, #f8f9fa) !important;
    border-color: var(--bs-light, #f8f9fa) !important;
}

.kv-check-dark {
    accent-color: var(--bs-dark, #212529);
}

.kv-check-dark:checked, .kv-check-dark[type="checkbox"]:indeterminate {
    background-color: var(--bs-dark, #212529) !important;
    border-color: var(--bs-dark, #212529) !important;
}

.kv-check-warning[type="checkbox"]:checked, .kv-check-info[type="checkbox"]:checked, .kv-check-light[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
}

.kv-check-warning[type="checkbox"]:indeterminate, .kv-check-info[type="checkbox"]:indeterminate, .kv-check-light[type="checkbox"]:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27M6 10h8%27/%3e%3c/svg%3e");
}

.kv-check-warning[type="radio"]:checked, .kv-check-info[type="radio"]:checked, .kv-check-light[type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%23000%27/%3e%3c/svg%3e");
}

.form-switch .kv-check-warning[type="checkbox"]:checked, .form-switch .kv-check-info[type="checkbox"]:checked, .form-switch .kv-check-light[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23000%27/%3e%3c/svg%3e");
}

.kv-checkbox-circle {
    width: 1em;
    height: 1em;
    border-radius: 50% !important;
    border: 1px solid rgba(0, 0, 0, .25);
    appearance: none;
    -webkit-appearance: none;
    vertical-align: top;
}

.kv-checkbox-circle:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
}

.kv-checkbox-circle:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27M6 10h8%27/%3e%3c/svg%3e");
}

.kv-check-primary.kv-checkbox-circle:checked, .kv-check-secondary.kv-checkbox-circle:checked, .kv-check-success.kv-checkbox-circle:checked, .kv-check-danger.kv-checkbox-circle:checked, .kv-check-dark.kv-checkbox-circle:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
}

.kv-check-primary.kv-checkbox-circle:indeterminate, .kv-check-secondary.kv-checkbox-circle:indeterminate, .kv-check-success.kv-checkbox-circle:indeterminate, .kv-check-danger.kv-checkbox-circle:indeterminate, .kv-check-dark.kv-checkbox-circle:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27M6 10h8%27/%3e%3c/svg%3e");
}

.kv-radio-square[type="radio"] {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    background: white;
    border: 1px solid rgba(0, 0, 0, .25);
    vertical-align: top;
    border-radius: .25em;
}

.kv-radio-square[type="radio"]:checked {
    background-color: var(--bs-primary, #0d6efd);
    border-color: var(--bs-primary, #0d6efd);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
}

.kv-check-warning.kv-radio-square[type="radio"]:checked, .kv-check-info.kv-radio-square[type="radio"]:checked, .kv-check-light.kv-radio-square[type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
}

.form-check-input.is-invalid:indeterminate[type="checkbox"], .was-validated .form-check-input:invalid:indeterminate[type="checkbox"] {
    background-color: var(--bs-danger, #dc3545);
    border-color: var(--bs-danger, #dc3545);
}

.form-check .form-check-input.form-control-sm {
    height: 18px;
    min-height: 18px;
    margin-left: -1.7em;
}

.form-check .form-check-input.form-control-lg {
    height: 34px;
    min-height: 34px;
    margin-left: -1.2em;
    margin-right: 0.3em;
}

.tabulator-row .tabulator-cell.tabulator-editing input.form-check-input:checked[type="checkbox"] {
    background-color: var(--bs-primary, #0d6efd);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
    border-color: var(--bs-primary, #0d6efd);
}

/*!
 * bootstrap-vertical-tabs - v1.2.2
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2016-12-02
 * Copyright (c) 2016 İsmail Demirbilek
 * License: MIT
 */
.nav-tabs.tabs-left, .nav-tabs.tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.nav-tabs.tabs-left {
    border-right: 1px solid #dee2e6;
}

.nav-tabs.tabs-right {
    border-left: 1px solid #dee2e6;
}

.nav-tabs.tabs-left > li.nav-item, .nav-tabs.tabs-right > li.nav-item {
    float: none;
    margin-bottom: 2px;
}

.nav-tabs.tabs-left > li.nav-item {
    margin-right: -1px;
}

.nav-tabs.tabs-right > li.nav-item {
    margin-left: -1px;
}

.nav-tabs.tabs-left > li.nav-item > a.nav-link.active,
.nav-tabs.tabs-left > li.nav-item > a.nav-link.active:hover,
.nav-tabs.tabs-left > li.nav-item > a.nav-link.active:focus {
    border-bottom-color: #dee2e6;
    border-right-color: transparent;
}

.nav-tabs.tabs-right > li.nav-item > a.nav-link.active,
.nav-tabs.tabs-right > li.nav-item > a.nav-link.active:hover,
.nav-tabs.tabs-right > li.nav-item > a.nav-link.active:focus {
    border-bottom: 1px solid #dee2e6;
    border-left-color: transparent;
}

.nav-tabs.tabs-left > li.nav-item > a.nav-link {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.nav-tabs.tabs-right > li.nav-item > a.nav-link {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

.kv-focus {
    border-radius: 0.25rem;
    outline-width: 0px;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.kv-focus .kv-fileinput-caption {
    border-color: #80bdff;
}

.modal-dialog .modal-footer {
    flex-wrap: wrap;
}

.modal-dialog .modal-footer > button {
    margin-top: 5px;
}

.kv_fieldset {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.kv_fieldset legend {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
    width: auto;
    float: inherit;
}

form fieldset.kv_fieldset {
    padding-top: 5px;
    margin-bottom: 8px;
}

form[class~="form-horizontal"] fieldset.kv_fieldset {
    padding-left: 1.1rem;
    padding-right: 2rem;
    margin-right: -15px;
    margin-left: -15px;
}

form[class~="form-inline"] fieldset.kv_fieldset {
    margin-right: 6px;
}

form[class~="form-horizontal"] div.form-group {
    align-items: center;
}

ul.typeahead > li.active > a {
    text-decoration: none;
    background-color: #f8f9fa;
}

#toast-container .toast {
    background-color: #030303;
    max-width: inherit;
}

#toast-container .toast-success {
    background-color: #51A351;
}

#toast-container .toast-error {
    background-color: #BD362F;
}

#toast-container .toast-info {
    background-color: #2F96B4;
}

#toast-container .toast-warning {
    background-color: #F89406;
}

#toast-container .toast-progress {
    background-color: #000000;
}

ons-button.kv-button-with-text > ons-icon {
    margin-right: 5px;
}

ons-toolbar-button.kv-button-with-text > ons-icon {
    margin-right: 5px;
}

.kv-ons-form-group {
    margin-bottom: 0.5rem;
}

.kv-ons-form-group .form-label {
    font-size: 12px;
}

.page--material .kv-ons-form-group .form-label {
    color: #3d5afe;
}

.kv-ons-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.kv-ons-form-group .kv-ons-form-control {
    width: 100%;
}

.kv-ons-form-group ons-input.kv-ons-form-control[float="float"][modifier~="material"] {
    margin-top: 16px;
}

label.required-label + ons-input > span.text-input__label::after {
    content: " *";
    color: var(--bs-danger, #dc3545);
}

.kv-ons-checkbox {
    display: flex;
    align-items: center;
}

.kv-ons-checkbox label {
    margin-left: 5px;
}

.ts-wrapper.kv-typeahead .ts-control, .ts-wrapper.kv-typeahead .ts-control input {
    cursor: inherit;
}

.ts-wrapper.is-invalid.kv-typeahead, .was-validated .invalid.kv-typeahead, .was-validated :invalid + .ts-wrapper.kv-typeahead {
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.kv-tom-select-remote-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #888888;
}

.toastify {
    background-image: unset;
    background-color: blue;
}

.kv-toastify-primary {
    color: #fff !important;
    background-color: rgba(13,110,253) !important;
}

.kv-toastify-secondary {
    color: #fff !important;
    background-color: rgba(108,117,125) !important;
}

.kv-toastify-success {
    color: #fff !important;
    background-color: rgba(25,135,84) !important;
}

.kv-toastify-info {
    color: #000 !important;
    background-color: rgba(13,202,240) !important;
}

.kv-toastify-warning {
    color: #000 !important;
    background-color: rgba(255,193,7) !important;
}

.kv-toastify-danger {
    color: #fff !important;
    background-color: rgba(220,53,69) !important;
}

.kv-toastify-light {
    color: #000 !important;
    background-color: rgba(248,249,250) !important;
}

.kv-toastify-dark {
    color: #fff !important;
    background-color: rgba(33,37,41) !important;
}
